<!-- Footer -->
<footer id="footer" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h5 align="center">&copy; 2016 Jordan Schneidler</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p align="center">
                <a href="/">Home</a> |
                <a href="/about">About Me</a> |
                <a href="/portfolio">Portfolio</a> |
                <a href="/connect">Connect</a> |
                <a href="/contact">Contact Me</a> |
                <a href="/resume">Resume</a>
            </p>
        </div>
    </div>
</footer>