<script type="text/javascript">

</script>

<!-- Mobile menu -->
<div id="nav-collapse-btn-div" class="row hidden-md hidden-lg">
    <div class="col-xs-6">
        <h3 ng-bind="page_name"></h3>
    </div>
    <div id="nav-collapse-btn-right-col" class="col-xs-6">
        <button data-toggle="collapse" data-target="#navCollapse" class="btn btn-default btn-md"><i class="fa fa-bars"></i></button>
    </div>
</div>

<!-- Actual nav -->
<div id="navCollapse" class="collapse">
    <fieldset id="sideNavFieldset" class="hidden-xs hidden-sm">
        <legend ng-bind="page_name"></legend>

        <div id="navPageDescription" class="col-xs-12">
            <ng-transclude></ng-transclude>
        </div>
    </fieldset>
    <div ng-controller="NavCtrl" id="sideNav">

        <nav class="col-xs-12">
            <button id="portfolio" ng-click="click('/portfolio')" class="navBtn">
                <p>Portfolio <span><i class="fa fa-chevron-right"></i></span></p>
            </button>
            <button id="about" ng-click="click('/about')" class="navBtn">
                <p>About Me <span><i class="fa fa-chevron-right"></i></span></p>
            </button>
            <button id="connect" ng-click="click('/connect')" class="navBtn">
                <p>Connect <span><i class="fa fa-chevron-right"></i></span></p>
            </button>
            <button id="contact" ng-click="click('/contact')" class="navBtn">
                <p>Contact Me<span><i class="fa fa-chevron-right"></i></span></p>
            </button>
            <button id="resume" ng-click="click('/resume')" class="navBtn">
                <p>My Resume<span><i class="fa fa-chevron-right"></i></span></p>
            </button>
        </nav>

        <div id="navFooter" class="col-xs-12">
            <a href="/">Back to home</a>
        </div>

        <div class="col-xs-12 hidden-md hidden-lg">
            <hr id="sidenav-hr">
        </div>

    </div>
</div>