#me {
	border-radius: 50%;
	max-height: 150px;
	margin: 0 auto;
}

@media (min-width: 480px) {
	#me {
		float: right;
	}
}

.img-well {
	background: none;
}

.img-well p {
	background-color: #222;
	padding: 3px;
	text-align: center;
}