#admin {
	color: black;
}

#admin > div {
	margin-top: 25px;
}

#admin .well .page-header h1 {
	color: black;
}

#admin .page-header h1 {
	color: white;
}

.Btn {
	border: 1px solid black;
}

.openBtn {
	background: #00FF00;
}

.openBtn:hover {
	background: #4DFF4D;
}

.deleteBtn {
	background: #FF0000;
}

.deleteBtn:hover {
	background: #FF4D4D;
}

.closeBtn {
	background: deepskyblue;
	border-radius: 10px;
}

.closeBtn:hover {
	border: 1px solid deepskyblue;
	background: black;
	color: deepskyblue;
	transition: all 0.2s;
}

@media (min-width: 992px) {
	#admin {
		width: 65%;
		margin: 0 auto;
	}
}