.btn-default-social {
    border: 1px solid orange;
}

.btn-default-social:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid darkorange;
    color: darkorange;
    transition: all .2s;
}

@media (max-width: 480px) {
    #connect-page #connect-email {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    .btn-default-social {
        margin-bottom: 10px;
    }
}