#contact-page .page-content {
    overflow: hidden;
}

#contact-page form textarea {
    color: black;
}

#contact-page #contact-email {
    margin-bottom: 25px;
}

#contact-page #form-submit-btn {
    border: none;
    background-color: orange;
}

@media (max-width: 480px) {
    #contact-page #contact-email {
        font-size: 1em;
    }
}