
@font-face {
	font-family: Raleway;
	src: url("../fonts/Raleway-Regular.ttf");
}

body {
	font-family: Raleway;
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	color: white;
	overflow: hidden;
}

a {
	color: orange;
}

a:hover {
	text-decoration: none;
	color: darkorange;
}

.site-orange {
	color: orange;
}

.nonSplashPage .page-content {
	background: 0;
	overflow-y: auto !important;
	overflow-x: hidden;
}

.nonSplashPage .well {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
}

@media (min-width: 992px) {
	.nonSplashPage {
		margin-top: 25px;
	}
}

@media (min-width: 1200px) {
	.nonSplashPage {
		width: 85%;
		margin: 0 auto;
		margin-top: 50px;
	}
}