#portfolio-well > .row > div {
    padding-right: 0;
}

#portfolio-well .thumbnail {
    border: 0;
    background: none;
}

#portfolio-well .thumbnail img {
    cursor: pointer;
}

#portfolio-well .thumbnail img:hover {
    box-shadow: 0 0 5px white;
    transition: all 0.2s;
}