#portfolio-modal .modal-content {
    background-color: #555;
}

#portfolio-modal .modal-header, #portfolio-modal .modal-header .close {
    color: orange;
    opacity: 1;
    text-shadow: none;
}

#portfolio-modal .modal-header {
    border-bottom: none;
}

#portfolio-modal .modal-footer {
    border-top: none;
}

#portfolio-modal #portfolio-modal-liveBtn {
    background-color: gray;
    cursor: not-allowed;
}