#nav-collapse-btn-div {
    background-color: darkorange;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#nav-collapse-btn-div h3 {
    margin: 0;
    margin-top: 3px;
}

#nav-collapse-btn-right-col i {
    color: orange;
}

#nav-collapse-btn-right-col {
    text-align: right;
}

#sideNavFieldset {
    border: 1px solid #DDD;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 25px;
    min-height: 200px;
}

#sideNavFieldset legend {
    font-size: 2em;
    font-weight: bold;
    width: auto;
    color: inherit;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    box-shadow: 0 0 5px #FFF;
}

#navPageDescription p {
    padding: 15px 5px 5px 0px;
}

#sideNav nav {
    padding-left: 0;
    padding-right: 0;
}

.navBtn {
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: orange;
    color: white;
    font-size: 1.75em;
    padding: 5px;
    margin-bottom: 5px;
}

.navBtn:hover {
    background-color: darkorange;
    color: black;
    transition: background-color, color 0.2s;
}

.navBtn:disabled {
    border-left: 5px solid orange;
    background-color: gray;
    color: orange;
    cursor: not-allowed;
}

.navBtn p {
    text-align: left;
    margin: 0;
}

.navBtn span {
    float: right;
}

#navFooter {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#sidenav-hr {
    border-top: 1px solid orange;
}

@media (min-width: 992px) {
    #navCollapse {
        display: block;
    }
}