#splashHeader {
	background-image: url("../images/glacier.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
}


#topButtonsContainer {
	margin-top: 15px;
	text-align: center;
}

.splashTopBtn {
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	border: 2px solid darkorange;
	color: black;
	font-size: 1em;
}
.splashTopBtn:hover {
	background-color: gray;
	color: orange;
}


#splashContent {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}

#splashTitle {
	text-align: center;
	margin-bottom: 20px;
}
#splashTitle h1 {
	margin: 0;
	font-size: 3em;
}
#splashTitle h3 {
	margin: 0;
	font-size: 2em;
	font-style: italic;
}

#splashButtons {
	text-align: center;
}
#splashButtons a {
	color: black;
	background-color: orange;
	border: 1px solid black;
	font-size: 1.5em;
}
#splashButtons a:hover {
	background-color: darkorange;
	transition: background-color 0.2s;
}


#splashScrollAnchor {
	padding-top: 50px;
	width: 60%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.splashTopBtn {
		margin-left: 5px;
		margin-right: 5px;
	}

	#splashContent {
		margin-top: 25px;
	}

	#splashTitle h1 {
		font-size: 2em;
	}

	#splashTitle h3 {
		font-size: 1em;
	}
}