<div class="row nonSplashPage">
	<side-nav class="col-xs-12 col-md-3" name="about" page-name="About Me">
		<p>Just about everything interesting about me. Care to know more? <a href="/contact">Get in touch.</a></p>
	</side-nav>
	<div class="col-xs-12 col-md-9">
		<div class="well page-content">
			<div class="row">
				<div class="col-xs-12">
					<img id="me" class="img-responsive text-center" src="images/about_me.jpg">
					<h4>I'm Jordan Schneidler. Born two days before New Year's Day in 1996, that makes me 19 years
						young. Nashotah, Wisconsin is where I call home, a tiny rural town with one major road
						on the outskirts of Milwaukee. As a curious, explorative child, being surrounded by monotonous
						corn fields and long straight roads wasn't something I grew fond of. I've always had an urge
						to explore, see, and do new things. As I grew up, this led to a fascination in
						travelling and nature. But I was a kid and I wasn't going anywhere anytime soon.
						So I put my focus into another "world", and found computers. Still I remember uncovering an
						old Windows 2000 machine buried in the closet. After that day, I was a <em>master</em>. I could
						paint AND play pinball. Those were the days.</h4>
					<h4>Now as an adult, I can really take on the challenges and work on the goals I've been waiting
						on for years. Those dreams still happened to be travelling and being a "master" at computers.
						Since then, I've become an avid backpacker, free climber, paintballer, and sticking with my
						love for computers, a web developer. I hope to be a full-stack engineer one day making new
						technologies and products by combining my love of computers, the planet, and people. While, of
						course, travelling the world.</h4>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>In August 2015, I went on the best trip of my life. My best friend and I went on a four day backpacking trip in Glacier National Park. It was our first major trip with no guidance or mentor and sold me on becoming a lifelong backpacker. In August 2016 it will be Colorado.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="well img-well">
						<img class="img-responsive" src="images/glacier.jpg">
						<p>Looking west from the top of Haystack Mountain.</p>
					</div>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img class="img-responsive" src="images/about_paintball.jpg">
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4>Another big hobby of mine is playing scenario paintball games. Each year I participate in one in Minnesota, Splat Tag, and at a smaller one in my local area.</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-include src="'views/partials/footer.html'"></ng-include>