
<div id="admin" ng-show="currentUser.id">

	<div ng-show="viewing === 'main'">

		<!-- Page Header -->
		<header class="page-header">
			<h1>Admin Dashboard - <span class="text-primary" ng-bind="user.name"></span></h1> 
		</header>
		
		<!-- Form Submissions -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<h2>Form Submissions</h2>
					<hr>
					<h4 class="text-danger" align="center" ng-show="emails.length == 0">No submissions to show</h4>
					<table class="table table-striped" ng-show="emails.length > 0">
						<thead>
							<td>Id</td>
							<td>Time</td>
							<td>Name</td>
							<td>Subject</td>
						</thead>
						<tbody>
						<tr ng-repeat="email in emails">
							<td ng-bind="email.id"></td>
							<td ng-bind="email.created_at"></td>
							<td ng-bind="email.name"></td>
							<td ng-bind="email.subject"></td>
							<td>
								<button class="openBtn Btn" ng-click="openEmail(email.id)" href=""><i class="fa fa-search"></i></button>
								<button class="deleteBtn Btn" ng-click="deleteEmail(email.id)" href=""><i class="fa fa-remove"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Registered Users -->
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<h2>Registered Users</h2>
					<hr>
					<h4 class="text-danger" align="center" ng-show="users.length == 0">No registered users to show</h4>
					<table class="table table-striped" ng-show="users.length > 0">
						<thead>
							<td>Name</td>
							<td>Email</td>
							<td>Role</td>
						</thead>
						<tbody>
						<tr ng-repeat="person in users">
							<td><span ng-bind="person.name"></span></a></td>
							<td ng-bind="person.email"></td>
							<td ng-bind="person.role"></td>
							<td>
								<button class="openBtn Btn" ng-click="openUser(person.id)" href=""><i class="fa fa-search"></i></button>
								<button class="deleteBtn Btn" ng-click="deleteUser(person.id)" href=""><i class="fa fa-remove"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div class="well" ng-show="viewing === 'email'">

		<div class="page-header">
			<div class="row">
				<div class="col-xs-6">
					<h1><button class="closeBtn Btn" ng-click="close()" href=""><i class="fa fa-backward"></i></button> Viewing email from <span ng-bind="email.created_at"></span></h1>
				</div>
				<div class="col-xs-6">
					<h1 align="right"><button class="deleteBtn Btn" ng-click="deleteUser(person.id)" href=""><i class="fa fa-trash"></i></button></h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h4><b>Name: </b><span ng-bind="email.name"></span></h4>
				<h4><b>Reply-to: </b><span ng-bind="email.replyTo"></span></h4>
				<h4><b>Subject: </b><span ng-bind="email.subject"></span></h4>
				<h4><b>Content: </b><span ng-bind="email.content"></span></h4>
			</div>
		</div>

	</div>

	<div class="well" ng-show="viewing === 'user'">

		<div class="page-header">
			<div class="row">
				<div class="col-xs-6">
					<h1><button class="closeBtn Btn" ng-click="close()" href=""><i class="fa fa-backward"></i></button> Viewing user <span ng-bind="person.name"></span></h1>
				</div>
				<div class="col-xs-6">
					<h1 align="right"><button class="deleteBtn Btn" ng-click="deleteUser(person.id)" href=""><i class="fa fa-trash"></i></button></h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h4><b>Id: </b><span ng-bind="person.id"></span></h4>
				<h4><b>Name: </b><span ng-bind="person.name"></span></h4>
				<h4><b>Email: </b><span ng-bind="person.email"></span></h4>
				<h4><b>Role: </b><span ng-bind="person.role"></span></h4>
				<h4><b>Joined: </b><span ng-bind="person.created_at"></span></h4>
			</div>
		</div>

	</div>

</div>