<div id="connect-page" class="row nonSplashPage">
    <side-nav class="col-xs-12 col-md-3" name="connect" page-name="Connect">
        <p>I am active all over! Send me an email or visit me on one of the sites listed.</p>
    </side-nav>
    <div class="col-xs-12 col-md-9">
        <div class="well page-content">
            <div class="page-header">
                <h1 class="text-center">Connect with me!</h1>
                <h3 id="connect-email" class="text-center">Email me at <span class="site-orange">jordan.schneidler@gmail.com</span></h3>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="btn btn-default-social btn-lg btn-block" href="http://www.linkedin.com/in/jschneidler">
                    <i class="fa fa-linkedin fa-fw"></i>LinkedIn
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="btn btn-default-social btn-lg btn-block" href="https://www.facebook.com/jordan.schneidler">
                    <i class="fa fa-facebook fa-fw"></i>Facebook
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="btn btn-default-social btn-lg btn-block" href="https://bitbucket.org/JSchneidler/">
                    <i class="fa fa-bitbucket fa-fw"></i>Bitbucket
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="btn btn-default-social btn-lg btn-block" href="http://stackoverflow.com/users/4072850/jordan">
                    <i class="fa fa-stack-overflow fa-fw"></i>SO
                </a>
            </div>
        </div>
    </div>
</div>

<ng-include src="'views/partials/footer.html'"></ng-include>