<div id="contact-page" class="row nonSplashPage">
    <side-nav class="col-xs-12 col-md-3" name="contact" page-name="Contact Me">
        <p>If you need a website, a team member, programming help/advice, or
        an intelligent conversion, just ask!</p>
    </side-nav>
    <div class="col-xs-12 col-md-9">
        <div class="well page-content">

            <div ng-hide="submitted">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 id="contact-email" class="text-center">Fill out the form or directly email me at <span class="site-orange">jordan.schneidler@gmail.com</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form ng-submit="submit(name, replyTo, subject, content)" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Reply-to (optional)</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="replyTo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-sm-2 control-label">Subject</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="subject" ng-model="subject">
                                        <option selected="selected">Request services</option>
                                        <option>Potential hire</option>
                                        <option>Technical or site support</option>
                                        <option>Web development questions/feedback</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="col-sm-2 control-label">Content</label>
                                <div class="col-sm-10">
                                    <textarea id="content" rows="10" style="width:100%;" ng-model="content"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                        <button id="form-submit-btn" type="submit" class="btn btn-default btn-block">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-show="submitted">
                <h1 align="center" class="site-orange">Thank you for your submission!</h1>
            </div>

        </div>
    </div>
</div>

<ng-include src="'views/partials/footer.html'"></ng-include>