<div class="row nonSplashPage">
    <side-nav class="col-xs-12 col-md-3" name="portfolio" page-name="Portfolio">
        <p>View my very new to very old work here. Most projects were made using a combination of these
        technologies: Laravel 5(&4.2), Node.js, AngularJS, Bootstrap, PHP, JavaScript, jQuery, HTML5, CSS3, MongoDB, MySQL.</p>
    </side-nav>
    <div class="col-xs-12 col-md-9">
        <div id="portfolio-well" class="well page-content">
            <div class="row">
                <div ng-repeat="item in items" class="col-xs-12 col-sm-4 col-md-3">
                    <a ng-click="itemClick(item.id)" id="{{ item.id }}" class="thumbnail portfolio-item" data-toggle="modal" data-target="#portfolio-modal">
                        <img ng-src="{{ item.imgUrl }}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio item modal TODO: Turn into directive? -->
<div class="modal fade" id="portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="Item modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
                <h4 class="modal-title" id="modalTitle" ng-bind="modalContent.title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" ng-src="{{ modalContent.imgUrl }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 ng-bind="modalContent.caption"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-show="modalContent.liveUrl" ng-href="{{ modalContent.liveUrl }}" class="btn btn-primary">Live</a>
                <a ng-href="{{ modalContent.sourceUrl }}" class="btn btn-info">Source</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ng-include src="'views/partials/footer.html'"></ng-include>