<div class="row nonSplashPage">
    <side-nav class="col-xs-12 col-md-3" name="resume" page-name="Resume">
        <p>View my current resume!</p>
    </side-nav>
    <div class="col-xs-12 col-md-9">
        <div id="resumeContainer" class="page-content">
            <iframe src="../files/resume.pdf"></iframe>
        </div>
    </div>
</div>

<ng-include src="'views/partials/footer.html'"></ng-include>