
<div id="splashHeader" class="row">
	<div class="col-xs-12">
		<div id="topButtonsContainer" class="row">
			<div class="col-xs-12">
				<a href="/about" class="splashTopBtn">About Me</a>
				<a href="/connect" class="splashTopBtn">Connect</a>
				<a href="/contact" class="splashTopBtn">Contact Me</a>
			</div>
		</div>
		<div id="splashContent" class="row">
			<div id="splashTitle" class="col-xs-12">
				<h1>Jordan Schneidler</h1>
				<h3>Web designer, developer, travel, and life enthusiast.</h3>
			</div>
			<div id="splashButtons" class="col-xs-12">
				<a href="/portfolio" class="btn">See my work!</a>
				<!--<a href="/blog" class="btn">What am I up to?</a>-->
			</div>
		</div>
	</div>
</div>

<!--
<div id="splashScrollAnchor" class="row">
	<div class="col-xs-12">
	</div>
</div>
-->